

<nav class="links">
<h1 class ="title">Happy Hour Melbs</h1>
    <% @weekdays.each do |weekday| %>
    <p>
      <a href="/day/<%= weekday.days.downcase %>">
        <%= weekday.days %>
      </a>
    </p>
    <% end %>
  </nav>


  <img class="landing-img" src="/stylesheets/landing_img1.jpg">
  <section class=login-register>
    <% if !logged_in? %>
    <p class="login-link"><a href="/login">Login</a></p>
    <p class="register-link"><a href="/register">Sign Up</a></p>
    <% end %>
   
    <p class="new-post">Post a new Happy Hour Special <a href="/happyhour/new"><button>Post</button></a></p>

  </section> 
  

  <%# THINGS TO DO:
  MULTIPLE VENUE ENTRIES CANT EXIST
  SAVING TO DATABASE BUT NOT SHOWING ON SITE %>

 
  



