<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Happy Hour Melbs</title>
  <script> function goBack() {
    window.history.back()
  }
  </script>
</head>
<body>

  <%= yield %>

</body>
</html>