


<%# <form class ="login-form" action="/session" method="post">
  <h1>Login</h1>
  <label for="">User Name</label>
  <input type="text" name="user_name">
  <label for="">Password</label>
  <input type="password" name="password">
  <button>Login</button>
  <p>Don't have a login? Register <a href="/register">here</a></p>
</form> %>


<%# <p class="warning-message">This is a crowd sourced page. No dickhead policy! Don't take the piss. If you post incorrect or false information, we will know about it and you'll be banned from the site. Let's drink as cheaply as we can, as merrily as we can!</p> %>

